{{>head }}
<body>
    {{!-- подтягиваем шаблоны --}}
    {{>navbar}}
    <div class="container">
         {{{ body }}}
    </div>
    {{!-- подтягиваем низ со скриптом фреймворка materialize css --}}
    {{>footer}}
</body>
</html>